<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedAnimal?.imagePath}}" alt="" class="img-circle">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedAnimal?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">To Supply List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedAnimal?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Supplies
  </div>
</div>
